.container {
  @apply w-[calc(149px+var(--size))] cursor-pointer;
}

.poster_container {
  @apply h-[calc(258px+var(--size))] overflow-hidden rounded-lg relative shadow;
}

.poster {
  @apply absolute origin-bottom bottom-0 scale-[1.7] z-10;
}

.poster_title {
  @apply mt-2;
}

.poster_title > p:nth-child(1) {
  @apply w-full whitespace-nowrap overflow-hidden text-ellipsis;
}

.poster_title > div {
  @apply flex items-center gap-1;
  font-size: 13px;
  color: gray;
}

.author {
  @apply inline-block max-w-[60%] whitespace-nowrap overflow-hidden text-ellipsis;
}

.rate {
  letter-spacing: -1px;
}
