.google {
  background-color: rgb(241, 244, 249);
}

.bgContainer {
  transform: rotate(4deg);
}

.bgCard:nth-child(odd) > div {
  animation: scroll_left 30s linear infinite;
  animation-delay: 0.1s;
}

.bgCard:nth-child(even) > div {
  animation: scroll_right 30s linear infinite;
  animation-delay: 0.1s;
}

@keyframes scroll_left {
  to {
    transform: translateX(-101%);
  }
}

@keyframes scroll_right {
  from {
    transform: translateX(-101%);
  }
  to {
    transform: translateX(0%);
  }
}
