.navbar {
  color: rgb(255, 255, 255);
  background-color: rgb(116, 225, 116);
  transition: padding 0.1s ease;
}

.user {
  border: 3px white solid;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.user:hover {
  transform: scale(1.05);
}

.navbar > a:nth-child(1) {
  font-size: 22px;
  transform: scale(1);
  transition: transform 0.3s ease;
}

.navbar > a:nth-child(1):hover {
  transform: scale(1.05);
}
